<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>P2PReview-{% block title %}{% endblock %}</title>

  {% load staticfiles %}

  <meta name="title" content="Peer Review System">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'p2preview/css/main.css' %}">
  
  {% block extrastyles %}{% endblock %}

  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  
  {% block extrafonts %}{% endblock %}

</head>
  <body>
    <div class="navbar">
      <div class="row container-fluid">
        <div class="topic col-md-3">
          <a href="/">Peer Review System</a>
        </div>
        <div class="topic col-md-2">
          <a href="/rubricTemplate">Rubric Template</a>
        </div>
        <div class="topic col-md-2">
          <a href="/addActivity">Add Activity</a>
        </div>
        <div class="topic col-md-2">
          <a href="/statistics">Statistics</a>
        </div>
        <div class="topic col-md-3">
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>  
    {% block extrajavascripts %}
    {% endblock %}
  </body>
</html>
