<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>P2PReview-{% block title %}{% endblock %}</title>

  {% load staticfiles %}

  <meta name="title" content="Peer Review System">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/main.css">

  {% block extrastyles %}{% endblock %}

</head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>
