{% extends './base.html' %}
{% block title %}Course{% endblock %}

{% load staticfiles%}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'p2preview/css/course.css' %}"/>
{% endblock %}

{% block body %}
<body>
  <div class="container coursesList">
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid ">
          <div class="row couseName">
            <div class="col-md-12 col-lg-10 columns">
              Course Name : <b>Software Engineering</b> <br>
            </div>
            <div class="small-12 large-2 columns">
              Course Code : <b>CS101X</b>
            </div>
            <hr>
          </div>

          <div class="table-responsive">
            <table class="table table-hover table-bordered">
            <!--<caption>Registered Students</caption>-->
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email Id</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Vishal Sanghai</td>
                  <td>vcoolsanghai@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Vishwesh Jainkuniya</td>
                  <td>vishwesh03071997@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Vishal Sanghai</td>
                  <td>vcoolsanghai@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Vishwesh Jainkuniya</td>
                  <td>vishwesh03071997@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
{% block extrajavascripts %}
{% endblock %}