{% extends './base.html' %}
{% block title %}Criteria{% endblock %}

{% load staticfiles%}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'p2preview/css/criteria.css' %}"/>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-auto ml-auto">
      <button type="button" class="btn btn-success add" data-toggle="modal" data-target="#exampleModal">
        Add Criteria
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {% if criterias|length > 0 %}
      {% for criteria in criterias %}
      <div class="criteriaList">
        <div class="row criteria">
          <div class="col-sm-12">
            Criteria #{{ forloop.counter }} : <span class="heading"> {{ criteria.generic.description }}</span>
          </div>
        </div>
        {% for genric_option in criteria.generic_options %}
        <div class="row">
          <div class="col-sm-6">
            <b>Option #{{ forloop.counter }} : </b> {{ genric_option.option }}
          </div>
          <div class="col-sm-6">
            <b>Points : </b> {{ genric_option.points }}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      {% else %}
      <div class="criteriaList">
        <div class="row criteria">
          <div class="col-sm-12">
            No criterias added yet, please add one!
          </div>
        </div>
      </div>
      {% endif %}

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Generic Criteria</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="#newCriteriaForm" method="post" action="/api/v1/create_generic/">
                <div class="form-group row">
                  <label for="Criteria" class="col-sm-2 col-form-label">Criteria</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" required id="id_description" placeholder="Criteria">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-auto ml-auto">
                  <button type="button" class="optionAdd btn btn-success">Add Option</button>
                  </div>
                </div>
            </div>
            <span id="id_error"></span>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button id="submitButton" type="submit" class="btn btn-primary">Save changes</button>
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
{% block extrajavascripts %}
  <script type="text/javascript">
  var optionNumber = 0;
$('.optionAdd').click(function() {
  var newEntity =
    '<div class="form-group row"><label for="option' +
    optionNumber +
    '" class="col-sm-2 col-form-label">Option ' +
    (optionNumber + 1) +
    '</label><div class="col-sm-8"><input required type="text" class="form-control" id="optionInput' +
    optionNumber +
    '" placeholder="Option ' +
    (optionNumber + 1) +
    '"></div><div class="col-sm-2"><input type="number" class="form-control" id="optionPoints' +
    optionNumber +
    '" placeholder="1-10"></div></div>';
  $('.modal-body').append(newEntity);
  optionNumber++;
});

$('#submitButton').click(function() {
  $('#id_error').text('');
  var frm = $('#newCriteriaForm');
  var description = $('#id_description').val();
  var answer = $('#answer').val();

  var options = [],
    points = [];

  var i = 0;

  if (description.length === 0) {
    alert('Please enter description');
    return false;
  }

  for (i = 0; i < optionNumber; i++) {
    var text = $('#optionInput' + i).val();
    if(text.length !== 0) {
      options = [...options, text];
      points = [...points, $('#optionPoints' + i).val() || 0];
    }
  }

  if(options.length === 0)
  {
    alert("Please enter at least one option");
    return false;
  }

  $.ajax({
    type: 'post',
    beforeSend: function(request) {
      request.setRequestHeader('TOKEN', getCookie('token'));
    },
    url: '/api/v1/create_generic/',
    data: {
      description: description,
      options: JSON.stringify(options),
      points: JSON.stringify(points),
      answer: -1,
    },
    dataType: 'json',
    success: function(data) {
      if (data.success === 1) {
        $(location).attr('href', '/criteria');
      } else if (data.success === -99) {
        clearLoginCookie();
      } else {
        $('#id_error').text(data.message);
      }
    },
  });
  return false;
});
</script>

{% endblock %}
