{% extends './base.html' %}
{% block title %}Rubric Template{% endblock %}

{% load staticfiles%}

{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'p2preview/css/rubric.css' %}"/>
{% endblock %}

{% block body %}
<body>
  <div class="container rubric">
    <div class="row head">
      <div class="col-md-2">
        #
      </div>
      <div class="col-md-2">
        A
      </div>
      <div class="col-md-2">
        B
      </div>
      <div class="col-md-2">
        C
      </div>
      <div class="col-md-2">
        D
      </div>
      <div class="col-md-2">
        Best Answer
      </div>
    </div>
    <form>
    <div class="row">
      <div class="col-md-2">
        Criteria 1
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <textarea class="form-control" id="Criteria1OptionA" rows="3"></textarea>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <textarea class="form-control" id="Criteria1OptionB" rows="3"></textarea>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <textarea class="form-control" id="Criteria1OptionC" rows="3"></textarea>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
            <textarea class="form-control" id="Criteria1OptionD" rows="3"></textarea>
        </div>
      </div>
      <div class="col-md-2">
      <div class="form-group">
        <select class="form-control" id="Criteria1CorrectAnswer">
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
        </select>
      </div>
      </div>
    </div>
    </form>
  </div>
</body>
{% endblock %}
{% block extrajavascripts %}
{% endblock %}
<!--          <div class="table-responsive">
            <table class="table table-hover table-bordered">
            <caption>Registered Students</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email Id</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Vishal Sanghai</td>
                  <td>vcoolsanghai@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Vishwesh Jainkuniya</td>
                  <td>vishwesh03071997@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Vishal Sanghai</td>
                  <td>vcoolsanghai@gmail.com</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Vishwesh Jainkuniya</td>
                  <td>vishwesh03071997@gmail.com</td>
                </tr>
              </tbody>
            </table>
          </div>-->