{% extends './base.html' %}
{% block title %}Add Activity{% endblock %}

{% load staticfiles%}

{% block extrastyles %}
    <script type="text/javascript" src="{% static 'p2preview/js/highcharts.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'p2preview/css/statistics.css' %}"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="script.js"></script>
{% endblock %}

{% block body %}
  <div class="container">
    {{ graphActivies }}
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12">
        <div class="activityList">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="individual-tab" data-toggle="tab" href="#individual" role="tab" aria-controls="individual" aria-selected="true">Individual Stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="summary-tab" data-toggle="tab" href="#summary" role="tab" aria-controls="summary" aria-selected="false">Summary Stats</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="individual" role="tabpanel" aria-labelledby="individual-tab">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Review Of</th>
                              <th>Reviewed By</th>
                              <th>Criteria</th>
                              <th>Response</th>
                              {% if total_points != 0%}
                                <th>Points (<b>Max:</b> {{ total_points }})</th>
                              {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for indi in individual %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                {% if activity.textOrImage %}
                                  <td>Text:- {{ indi.reviewOf.text }}<br>Group Name:- {{ indi.reviewOf.groupId }}</td>
                                {% else %}
                                  <td>{{ indi.reviewOf.fileURL }}</td>
                                {% endif %}

                                <td>
                                  Group Id:- {{ indi.reviewBy.groupId }} <br>
                                  Group Name:- {{ indi.reviewBy.groupName }} <br>
                                  Group members:- <br>
                                  {% for mem in indi.reviewBy.groupMembers %}
                                     {{ forloop.counter }} Name:- {{ mem.name }} <br>
                                     Roll No:- {{ mem.rollNo }} <br>
                                     Email:- {{ mem.email }} <br>
                                  {% endfor %}
                                </td>
                                <td>
                                  {% for criteria in indi.criterias %}
                                     {{ forloop.counter }} Description:- {{ criteria.genericId.description }} <hr>
                                  {% endfor %}
                                </td>
                                <td>
                                  {% for response in indi.responses %}
                                     {{ forloop.counter }} Response:- {{ response.response }} <br>
                                     Comment:- {{ response.comment }} <hr>
                                  {% endfor %}
                                </td>
                                {% if total_points != 0 %}
                                  <td>
                                    {{ indi.points }}
                                  </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>

                  <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">
                    {% if assigments|length == 1%}
                    {% for ga in assigments %}
                    Response Summary for Activity: {{ activity.name }} {{ ga.groupId }}
                    {% for cri in ga.criterias %}
                    <div id="container_{{ cri.criteria_id }}_{{ ga.assigId }}" style="min-width: 310px;  margin: 0 auto"></div>
                    <script>
                    var chart_{{ cri.criteria_id }}_{{ ga.assigId }} = new Highcharts.Chart({
  chart: {
    type: 'bar',
    renderTo: 'container_{{ cri.criteria_id }}_{{ ga.assigId }}'
  },
  xAxis: {
    categories: ['{{ cri.criteria }}'],
  },
  title: {
      text: null
  },
  yAxis: {
    min: 0,
    title: {
      text: '% Selection for each option',
    },
  },
  legend: {
    reversed: true,
  },
  plotOptions: {
    series: {
      stacking: 'normal',
    },
  },
  series: [],
});

$(chart_{{ cri.criteria_id }}_{{ ga.assigId }}).ready(function() {
var se = [];
// var chart = $('container_{{ forloop.counter }}');
{% for ge in cri.series %}
// alert("vishwesh " + '{{ ge }}');
se = [...se, { 'data': '{{ ge.data }}', 'name': '{{ ge.name }}'}];
chart_{{ cri.criteria_id }}_{{ ga.assigId }}.addSeries({
                name: '{{ ge.name }}',
                data: [{{ ge.data }}]
            }, true);
//alert(se);
{% endfor %}
chart_{{ cri.criteria_id }}_{{ ga.assigId }}.redraw();
});
</script>
                      {% endfor %}
                    {% endfor %}
                    {% else %}
                        <p>Graphs Stats are only available if assigment is one. (due to limited resources in free trial of heroku)</p>
                    {% endif %}
                  </div>

                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!--end forloop-->
  </div>
{% endblock %}
{% block extrajavascripts %}

{% endblock %}
