.stats{
	margin-top:50px;
}
.card{
	transition: 0.3s;
	box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
	background-color: white;
	padding: 20px;
	margin: 20px;
}
.card:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.circle{
	border-radius: 100%;
	width: 150px;
	height: 150px;
	position: relative;
	margin: 0px auto;
}
#c1{
	background-color: lightblue;
}
#c2{
	background-color: lightgreen;
}
.count{
	font-size: 1.5rem;
	position: absolute;
	top: 35%;
	left: 45%;
}
.label{
	padding-top: 20px;
	text-align: center;
}